@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color-light: #362F78;
  --bg-color-medium: #5145CD;
  --bg-color-dark: #E5EDFF;
  --text-color-primary: #FFFFFF;
  --text-color-secondary: #FFFFFF;
  --color-positive: #0E9F6E;
  --color-negative: #F05252;
}